<div id="<%= dom_id flight %>">
  <p>
    <strong>Depart:</strong>
    <%= flight.depart_id %>
  </p>

  <p>
    <strong>Arrive:</strong>
    <%= flight.arrive_id %>
  </p>

  <p>
    <strong>Airline:</strong>
    <%= flight.airline_id %>
  </p>

  <p>
    <strong>Start date time:</strong>
    <%= flight.start_date_time %>
  </p>

  <p>
    <strong>Duration min:</strong>
    <%= flight.duration_min %>
  </p>

</div>
